.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
}

.card .card-content {
    margin: 0;
    padding: 16px;
}

.card .card-image {
    display: block;
    height: auto;
    width: 100%;
}
