input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
input[type=url],
input[type=date],
select,
textarea {
    height: 45px;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    font-size: 16px;
    background: #f5f5f5;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
    transition: all 0.2s ease;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=number]:hover,
input[type=file]:hover,
input[type=tel]:hover,
input[type=url]:hover,
input[type=date]:hover,
select:hover,
textarea:hover {
    border-color: #111;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=file]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=date]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #0062ff;
}

textarea {
    min-height: 70px;
}
