.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav .nav-item {
    margin-right: 16px;
}

.nav .nav-item:last-child {
    margin-right: 0;
}
