.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.size-full-height {
    min-height: 100vh;
}

.size-full-width {
    width: 100%;
}

.size-full {
    width: 100%;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.direction-vertical {
    flex-direction: column;
}

.direction-horizontal {
    flex-direction: row;
}

.center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-black {
    border: 1px solid #111;
}

.border-gray {
    border: 1px solid #a7a7a7;
}

.border-white {
    border: 1px solid #f5f5f5;
}

.border-blue {
    border: 1px solid #0062ff;
}

.border-red {
    border: 1px solid #ff1500;
}

.border-yellow {
    border: 1px solid #ffbf00;
}

.border-green {
    border: 1px solid #00b30f;
}

.border-rounded {
    border-radius: 2px;
}

.border-circle {
    border-radius: 2px;
}

.color-black {
    color: #111;
}

.color-gray {
    color: #a7a7a7;
}

.color-white {
    color: #f5f5f5;
}

.color-blue {
    color: #0062ff;
}

.color-red {
    color: #ff1500;
}

.color-yellow {
    color: #ffbf00;
}

.color-green {
    color: #00b30f;
}

.background-black {
    background-color: #111;
}

.background-gray {
    background-color: #a7a7a7;
}

.background-white {
    background-color: #f5f5f5;
}

.background-blue {
    background-color: #0062ff;
}

.background-red {
    background-color: #ff1500;
}

.background-yellow {
    background-color: #ffbf00;
}

.background-green {
    background-color: #00b30f;
}
